<a href="https://colab.research.google.com/github/gautam12354/Pwskills_Assignments_Solutions/blob/main/30Jan_AssQ_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q 1. Write a program to accept percentage from the user and display the grade according to the following criteria:
                
                Marks	    Grade
                  >90	         A
                  >80 and <=90	B
                  >=60 and <=80	C
                  below 60	    D

In [ ]:
Input = int(input('Enter your percentage : '))
if Input>90:
    print("A")
elif 90>=Input>80:
    print("B")
elif 80>=Input>=60:
    print("C")
else:
    print("D")

Enter your percentage : 94
A

Q 2. Write a program to accept the cose price of a bike and display the road tax to be paid according to the following criteria:

    Tax	Cose Price (in Rs)
    15%	>100000
    10%	>50000 and <= 100000
    5%	<= 50000

In [ ]:
Input = int(input('Enter bike price : '))
if Input>100000:
    print("Tax : 15%")
elif Input>50000 and Input<=100000:
    print("Tax : 10%")
else:
    print("Tax : 5%")

Enter bike price : 124000
Tax : 15%

Q 3. Accept any city form the user and display monuments of the city.

    City	Monument
    Delhi	Red Fort
    Agra	Taj Mahal
    Jaipur	Jal Mahal

In [ ]:
City = input('Enter City Name : ')
if City == "Delhi":
    print("Red Fort")
elif City == "Agra":
    print("Taj Mahal")
else:
    print("Jal Mahal")

Enter City Name : Delhi
Red Fort

Q 4. Check how many times a given number can be divided by 3 before it is less than of equal to 10.

In [6]:
number = int(input("Enter a number : "))
count = 0
while number > 10:
    # divide number by 3
    number = number / 3
    # increase count
    count = count + 1
print('Total iteration required', count)

Enter a number : 180
Total iteration required 3

Q 5. Why and when to use while loop in python give a detailed description with example

while loop is used to run a block code until a certain condition is met.If the condition evaluates to True, the code inside the while loop is executed. This process continues until the condition is False. When condition evaluates to False, the loop stops.

***program to display numbers from 1 to 5***

        i = 1
        n = 5
        while i <= n:
          print(i)
          i = i + 1

Q 6.Use nested while loop to print 3 different pattern.

In [7]:
row = int(input("Enter row number : "))
while row>0:
    print()
    column = 0
    while column < row:
        print("*", end=' ')
        column +=1
    row -=1

Enter row number : 5

* * * * *
* * * *
* * *
* *
*

In [8]:
row = int(input("Enter row number : "))
num = 0
while num <= row:
    print("* "*num)
    num +=1

Enter row number : 10

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [9]:
row = int(input("Enter row number : "))
num = 0
while num <= row:
    print("* "*num)
    num +=1
    if num > row:
        row = row-1
        num = -row +2
        while num <= row:
            print("* "*row)
            num +=1
            row -=1

Enter row number : 6

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

Q 7. Reverse a while loop to display numbers form 10 to 1.

In [12]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1